<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

	<th:block th:fragment="page-scripts">
		
	    <div class="sidebar-overlay" data-reff=""></div>
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
	    <script th:src="@{/js/bootstrap.min.js}"></script>
	    <script th:src="@{/js/jquery.slimscroll.js}"></script>
	    <script th:src="@{/js/select2.min.js}"></script>
		<script th:src="@{/js/moment.min.js}"></script>
		<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
	    <script th:src="@{/js/app.js}"></script>
	</th:block>
</html>