<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

	<th:block th:fragment="page-scripts">
		
	    <div class="sidebar-overlay" data-reff=""></div>
 		<!-- 
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
	    <script th:src="@{/js/moment.min.js}"></script>
	    <script th:src="@{/js/select2.min.js}"></script>
	    <script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
	    <script th:src="@{/js/app.js}"></script> -->
	        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/js/select2.min.js}"></script>
	<script th:src="@{/js/moment.min.js}"></script>
	<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
	</th:block>
</html>