<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebar" class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="menu-title">Main</li>
				<li><a th:href="@{/prediction}"><i class="fa fa-dashboard"></i> 
					<span>Make Prediction</span></a></li>
				
				<li><a th:href="@{/prediction-list}"><i class="fa fa-wheelchair"></i>
					<span>My Prediction</span></a></li>
				<!--<li><a href="#"><i class="fa-solid fa-hand-holding-medical"></i> <span>Advices</span></a>-->

			</ul>
		</div>
	</div>
</div>
</html>