<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/header :: header">
</head>
<body>

	<div class="main-wrapper">
		<div th:replace="../fragments/navbar :: navbar"></div>
		<div th:replace="../fragments/sidebar :: sidebar"></div>

		<div class="page-wrapper">
			<div class="content">
			<div class="card-header" style="text-align: center; background-color: rgb(196 204 200); font-size: 28px" >Drugs Recommendation</div>
			<div class="card" >
			  
			  <ul class="list-group list-group-flush" style="width: 100%; font-size: 25px">
			    <li class="list-group-item">ACIE</li>
			    <li class="list-group-item">Beta-Blocker</li>
			  </ul>
			</div>
			</div>
		</div>
	</div>
	<div th:replace="../fragments/footer :: page-scripts"></div>
</body>
</html>
</body>
</html>