<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Media Care</title>
</head>
<body>

	<div sec:authorize="isAuthenticated()">
		Hi,<div sec:authentication="name"></div>
		<a th:href="@{/logout}">Logout</a>
	</div>
	<div sec:authorize="isAnonymous()">
		<a th:href="@{/login}">Login</a>
	</div>
	<h1>Home Page</h1>
	<a th:href="@{/signup}">Sign Up</a> <br>
	<a th:href="@{/home}">Home Secured</a><br>
	<a th:href="@{/profile}">Profile</a><br>

</body>
</html>